/*
** IMPORTS
*/

/* fonts */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,700");

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  overflow-y: scroll;
}

/*
** NO-SCRIPTS
*/
noscript {
  display: block;

  background-color: #600;
  color: #fff;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0 !important;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

noscript h1 {
  font-size: 64px;
}


.alert,
.breadcrumb,
.btn,
.form-control,
.label,
pre{
  border-radius: 2px;
}

pre {
  background-color: #f8f8ff;
}


/*
** SCROLLBARS
*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-border-radius: 2px;

  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.4);
}

/*
** MODALS
*/
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal-dialog-responsive {
  width: 75%;
  min-width: 600px;
}

/*
** FONTS
*/
body {
  font-family:'Open Sans';
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:'Open Sans';
}

p {
  text-align: justify;
}

p.feature-block {
  font-size: 16px;
  text-align: center;
}

blockquote.title p {
  font-size: 18px;
  text-align: left;
}

.alert .alert-link {
  font-weight: 600;
}


/*
** ICONOGRAPHY
*/

.fa-fwl {
  width: 1.28571428571em;
  text-align: left;
}

/*
** TYPOGRAPHY
*/

.rss {
  color: #ff7f00;
}

.breadcrumb {
  font-size: 12px;
  padding: 4px 0px;
  background-color: #fff;
}

.breadcrumb > .active {
  color: #000;
}

.form-control {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

.page-title {
  margin-bottom: 32px;
  text-align: center;
}

.page-title a:hover,
.page-title a {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  font-size: 12px;
  margin: 0 0 16px;
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote p {
  font-size: inherit;
}

/*
** LISTS
*/
.fa-ul > li {
  margin-bottom: 5px;
}

.fa-li {
  top: .36em;
}


/*
** HIGHLIGHTS
*/

.hi {
  background-color: #ddd;
}
.spaces {
  background-color: #ffff7f;
}

/*
** INPUT
*/
.form-control-generic {
  height: inherit;
}

/*
** MODALS
*/
.modal-header {
  background-color: #428bca;
  color: #fff;
}

.modal-footer {
}


.modal-tab-content {
  padding: 16px 0 0 0 !important;
  margin-bottom: 0 !important;
}

/*
** LOGOS / IMAGES
*/
#banner {
  background-color: #428bca;

  color: #fff;
}

.kp-logo {
  display: inline-block;

  height: 48px;
  padding-left: 48px;
  background-image: url('/img/kp-logo.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center 8px;
  line-height: 48px;
  font-size: 36px;
  font-weight: 300;

  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

.kp-logo span {
  color: #777;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.kp-logo-cc-by-sa {
  display: inline-block;
  margin-top: 8px;

  height: 108px;
  width: 108px;

  background-image: url('/img/kp-logo-cc-by-sa.png');

  background-size: 96px 96px;
  background-repeat: no-repeat;
  background-position: center center;
}

.cc-by-sa {
  display: block;
  margin-top: 4px;

  height: 36px;
  width: 100%;

  background-image: url('/img/cc-by-sa-logo.png');

  background-size: 96px 36px;
  background-repeat: no-repeat;
  background-position: center right;
}

.kp-logo-48 {
  height: 48px;
  width: 48px;

  background-image: url('/img/kp-logo.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.canvas-logo {
  margin-top: 64px;
}

.canvas-logo-48 {
  height: 48px;
  width: 48px;

  background-image: url('/img/canvas-logo.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
}

.canvas-logo h1 {
  display: inline-block;

  height: 48px;

  background-image: url('/img/canvas-logo.png');
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: left center;

  color: #808080;

  font-size: 42px;
  line-height: 48px;

  text-align: left;

  padding-left: 48px;
  margin-bottom: 32px;
}

.tab-content {
  padding: 16px 0;
  margin-bottom: 16px;
}

.canvas-logo h1 span {
  margin-left: 4px;

  color: #404040;
}

.col-img-leader {
  padding-left: 64px;

  min-height: 64px;

  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.img-title {
  width: 96px;
  height: 96px;
}

.img-well {
  display: inline-block;
  padding: 2px;
}

.img-well-selected {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.img-showcase {
  display: inline-block;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.img-desktop-logo {
  height: 64px;
  width: 64px;
}


.img-bumper {
  position: relative;
  top: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.img-well-selected .img-bumper:hover {
  top:0;
}

.img-bumper:hover {
  top: -4px;
}


/*
** PAGINATION BUTTON SIZE
*/
.pagination-toolbar > button {
  font-size: 10px;
}

/*
** PAGINATION
*/
.pagination {
  margin: 0 0 8px 0;
}

.pagination-sm > li > a {
  width: 32px;

  padding: 4px;

  text-align: center;

  cursor: hand;
  cursor: pointer;
}

/*
** CALLOUTS
*/
.callout {
  margin: 0 0 10px;
  padding: 16px;
  border-left: 3px solid #eeeeee;
  border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
}
.callout .code,
.callout .highlight {
}
.callout > h1:first-child,
.callout > h2:first-child,
.callout > h3:first-child,
.callout > h4:first-child {
  margin-top: 4px;
  margin-bottom: 8px;
}
.callout p:last-child {
  margin-bottom: 0;
}

.callout-problem,
.callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.callout-problem h4,
.callout-danger h4 {
  color: #b94a48;
}
.callout-question,
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-question h4,
.callout-warning h4 {
  color: #c09853;
}
.callout-idea,
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-idea h4,
.callout-info h4 {
  color: #3a87ad;
}

.callout-thank,
.callout-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.callout-thank h4,
.callout-success h4 {
  color: #468847
}

/*
** KOROBAR / NAVIGATION BAR
*/

.navbar {
  border-radius: 0;
  z-index: 1039;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-tab-danger>a:hover {
  background-color: #fdf7f7;
  border-color: #eed3d7;
  color: #b94a48;
}
.nav-tab-warning>a:hover {
  background-color: #faf8f0;
  border-color: #faebcc;
  color: #c09853;
}
.nav-tab-info>a:hover {
  background-color: #f4f8fa;
  border-color: #bce8f1;
  color: #3a87ad;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}

.nav-tabs.nav-justified > li.active > a {
  border-bottom-color: #357ebd;
}

.nav-tabs > li > a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;

  box-shadow: 0px 4px 16px #111;
}

.navbar-default .glyphicon {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>.dropdown>a .caret,
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color:#3276b1;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color:#3276b1;
  color: #fff;
}


.navbar-nav>li>.dropdown-menu {
  border-color: #357ebd;
  background-color:#3276b1;
}

.dropdown-menu {
  border-radius: 2px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background-color: #428bca;
  color: #fff;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .nav-home {
  border-right: 2px solid #3276b1;
  border-left: 2px solid transparent;
}

.nav a.user-avatar {
  padding: 9px 15px;
}

#page-notifications {
  position: fixed;

  top: 0;
  width: 100%;

  text-align: center;

  z-index: 999999;
}

#social {
/*  margin: 12px 8px 0 0; */
  display: block;
  width: 100%;

  text-align: right;
}

#register {
  margin: 16px auto;
}

#register > a,
#register > button {
  width: 64px;
  padding: 4px;

  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
}

#korobar {
  position: absolute;
  width: 100%;
}

.page-container {
  min-height: 100%;
  padding-bottom: 64px; /* match top padding of page-content */
  margin-bottom: 256px; /* auto-calculated */

  background-color: #fff;
  box-shadow: 0px 4px 16px #111;
}

.page-content {
  margin: 0 auto;
  padding-top: 64px; /* match bottom padding of page-container */

  min-height: 100%;
  max-width: 1000px;
}

.hr {
  display: block;
  content: "&nbsp;";
  height: 4px;
}
.hr-xs {
  height: 4px!important;
}
.hr-sm {
  height: 16px!important;
}
.hr-md {
  height: 24px!important;
}
.hr-lg {
  height: 32px!important;
}



.icons-ul {
  padding-left: 0;
}

/*
** NEWS PAGES
*/

.news-excerpt {
  margin-bottom: 16px;
}

.news-summary-subtitle {
  margin-bottom: 8px;
}

.news-detail-subtitle {
  margin-bottom: 32px;
}

.news-summary-subtitle-metadata,
.news-detail-subtitle-metadata {
  display: inline-block;
  vertical-align: top;

  margin-right: 4px;
}

.news-summary-subtitle-metadata p,
.news-detail-subtitle-metadata p {
  padding-top: 2px;
  margin-bottom: 2px;

  font-size: 12px;
  line-height: 12px;
}

.news-summary-subtitle-metadata img,
.news-detail-subtitle-metadata img {
  display: inline-block;

  border-radius: 2px;
}

/*
** ENGAGE PAGES
*/


.engage-problem {
  border-color: #eed3d7;
}

.engage-problem > .engage-detail-title-icon,
.engage-problem .engage-summary-title-icon {
  color: #b94a48;
}

.engage-question {
  border-color: #faebcc;
}

.engage-question > .engage-detail-title-icon,
.engage-question .engage-summary-title-icon {
  color: #c09853;
}
.engage-idea {
  border-color: #bce8f1;
}

.engage-idea > .engage-detail-title-icon,
.engage-idea .engage-summary-title-icon {
  color: #3a87ad;
}

.engage-thank {
  border-color: #d6e9c6;
}

.engage-thank > .engage-detail-title-icon,
.engage-thank .engage-summary-title-icon {
  color: #468847
}

.engage-idea .engage-summary-title-icon,
.engage-problem .engage-summary-title-icon,
.engage-question .engage-summary-title-icon,
.engage-thank .engage-summary-title-icon {
}

.engage-summary:hover {
  background-color: #fafafa;
}

.engage-summary > a {
  color: inherit;
  text-decoration: none;
}

.engage-summary-title {
  display: inline-block;

  margin-top: 4px;
}

.engage-summary-content {
}

.engage-summary-meta,
.reply-meta {
  margin-left: 4px;
}

.engage-summary-meta > .engage-summary-icon {
}

.engage-summary--meta > p,
.reply-meta > p {
  padding-bottom: 0;
  margin-bottom: 0;

  font-size: 12px;
}

.post-tags {
  font-size: 12px;
}

.engage-detail {
  margin-bottom: 0;
  background-color: #fafafa;
}

.engage-detail-title {
  margin-top: 0;
}

.engage-detail-tags {
  margin-top: 8px;

  font-size: 12px;
}

.engage-reply {
  margin-bottom: 0;
}

.engage-reply:hover {
  background-color: #fafafa;
}

.engage-detail-footer,
.engage-reply-footer {
  padding: 0;
  margin-bottom: 16px;

  text-align: right;
}

.engage-detail-footer-metadata p,
.engage-reply-footer-metadata p {
  padding-top: 2px;
  margin-bottom: 2px;

  font-size: 12px;
  line-height: 12px;
}

.engage-detail-footer-metadata img,
.engage-reply-footer-metadata img {
  display: inline-block;

  border-radius: 2px;
}

.engage-detail-footer-admin,
.engage-reply-footer-admin {
  padding: 8px 0px 4px 4px;
  display: inline-block;

  vertical-align: top;
}

.engage-detail-footer-metadata,
.engage-reply-footer-metadata {
  display: inline-block;
  vertical-align: top;

  margin-left: 4px;
}

.engage-detail-footer-metadata {
  margin-top: 8px;
}

.engage-reply-footer-metadata {
  margin-top: 4px;
}
/*
** FOOTER
*/

#site-map {
  margin-bottom: 16px;
}

#site-map h4 {
  font-weight: bold;
}

#site-map a,
#site-map a:visited,
#site-map a:active {
  color: #fff;
}

footer {
  width: 100%;
  min-height: 196px;

  padding: 16px 0;

  background: #333;
  position: fixed;
  z-index: -1000;
  bottom: 0;

  color: #fff;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
}

footer .copyright {
  margin: 0;
  line-height: 24px;
}

footer .copyright > a,
footer .copyright > a:hover,
footer .copyright > a:active,
footer .copyright > a:visited {
  color: #fff;
  font-weight: 600;
}

footer p {
  font-size: 12px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #428bca;
  text-shadow: 1px 1px 2px rgba(55, 55, 55, .6);
}

/*
** DIV-TABLES
*/
.alert-footnote {
  background-color: #ffb147;
  color: #a66a17;
}

.alert-footnote a {
  font-style; italic;
}

/*
** DIV-TABLES
*/
.row-table {

}

.row-table > .row-header,
.row-table > .row-entry {
  padding-top: 4px;
  padding-bottom: 4px;
}

.row-table > .row-header {
  background-color: #428bca;
  color: #fff;
}

.row-table > .row-entry:nth-child(odd) {
  background-color: #f4f4f4;
}

.row-table > .row-entry blockquote {
  padding: 10px 8px;
  border-left: 2px solid #428bca;

  background-color: #f0f0f0;
}

.package-actions {
  display: inline-block;
  width: 32px;
}


/*
** FORUMS
*/
.post-content pre {
  border: 0;
  background-color: inherit;

  font-family:'Open Sans';
  font-size: 14px;

  word-wrap: normal;
  word-break: normal;
}

.row-table > .row-entry cite {
  display: block;
}

.post-content pre code {
  display: block;
  overflow-x: auto;

  background-color: #e0e0e0;

  border-radius: 2px;
  padding: 2px;
  margin: 2px 0;
}

.post-header {
  background-color: #ddd;

  border-top: 1px solid #ccc;
}

.post-content {
  background-color: #f7f7f7 !important;
  padding-bottom: 16px;
}

.forum-child {
  padding-left: 8px;

  border-left: 1px solid #428bca;
}

.forum-title {
  margin: 4px 0;
}

/* sm */
@media all and (min-width: 768px) {
  .kp-logo {
    height: 64px;
    padding-left: 64px;
    background-size: 64px 64px;
    line-height: 64px;
    font-size: 56px;
  }

  #register {
    margin: 12px 0 0 0;
  }

  .col-img-leader {
    padding-left: 96px;
    min-height: 96px;
    background-size: 64px 64px;
    background-position: 16px center;
  }

  .hr {
    height: 16px;
  }

  .forum-child {
    padding-left: 16px;
  }
}
/* md */
@media all and (min-width: 992px) {
  .col-img-leader {
    padding-left: 128px;
    min-height: 128px;
    background-size: 96px 96px;
    background-position: 16px center;
  }

  .hr {
    height: 24px;
  }

  .forum-child {
    padding-left: 24px;
    border-left: 2px solid #428bca;
  }
}
/* lg */
@media all and (min-width: 1200px) {
  .hr {
    height: 32px;
  }

  .h  .forum-child {
    padding-left: 32px;
  }
}


.page-transition {
  position:relative;
}

.page-transition.ng-enter, .page-transition.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  position:absolute;
  top:0;
  left:0;
  right:0;
  height:600px;
}

.page-transition.ng-enter {
  z-index:101;
  top:600px;
  opacity:0;
}
.page-transition.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}

.page-transition.ng-leave {
  z-index:100;
  top:0;
  opacity:1;
}
.page-transition.ng-leave.ng-leave-active {
  top:-600px;
  opacity:0;
}


.ng-hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block!important;
}



/*
** DOWNLOAD PAGE SPECIFICS
*/
h4.step {
  margin: 8px 0;
  line-height: 20px;
  text-align: center;
}

.checksums span.label {
  margin-left: 2px;
  font-size: 10px;
  cursor: pointer;
  cursor: hand;
}
