/*
** IMPORTS
*/

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,700);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/* bootstrap - glyphicons */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html {
  overflow-y: scroll;
}

noscript {
  position: fixed;

  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  padding: 16px;

  z-index: 99999;

  background-color: #600;
  color: #fff;

  text-align: center;
}

/*
** SCROLLBARS
*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-border-radius: 2px;

  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.4);
}


/*
** FONTS
*/
body {
  //font-family:'Open Sans Condensed';
  font-family:'Open Sans';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//  font-family:'Open Sans Condensed';
  font-family:'Open Sans';
}

p {
  text-align: justify;
}

.alert .alert-link {
  font-weight: 600;
}
/*
** NAVIGATION
*/

/*
** LOGO
*/
.banner {
  height: 256px;

  background-color: #428bca;

  color: #fff;
}

.kp-logo {
  display: inline-block;

  height: 48px;
  padding-left: 48px;
  background-image: url('../img/kp-logo.png');
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: center left;
  line-height: 48px;
  font-size: 36px;
  font-weight: 300;

  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
}

.kp-logo span {
  color: #777;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.kp-logo-48 {
  height: 48px;
  width: 48px;

  background-image: url('../img/kp-logo.png');
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: center center;
}

.canvas-logo {
  margin-top: 64px;
}

.canvas-logo-48 {
  height: 48px;
  width: 48px;

  background-image: url('../img/canvas-logo.png');
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center center;
}

.canvas-logo h1 {
  display: inline-block;

  height: 48px;

  background-image: url('../img/canvas-logo.png');
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: left center;

  color: #808080;

  font-size: 42px;
  line-height: 48px;

  text-align: left;

  padding-left: 48px;
  margin-bottom: 32px;
}

.tab-content {
  padding: 16px 0;
  margin-bottom: 16px;
}

.canvas-logo h1 span {
  margin-left: 4px;

  color: #404040;
}

.col-img-leader {
  padding-left: 64px;

  min-height: 64px;

  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.col-img-leader-innovation {
  background-image: url('../img/ico-innovation.png');
}

.col-img-leader-community {
  background-image: url('../img/ico-community.png');
}

.col-img-leader-security {
  background-image: url('../img/ico-security.png');
}

.col-img-leader-choice {
  background-image: url('../img/ico-choice.png');
}

.col-img-leader-open-source {
  background-image: url('../img/ico-open-source.png');
}

.img-showcase {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/*
** PAGINATION BUTTON SIZE
*/
.pagination-toolbar > button {
  font-size: 10px;
}

/*
** PAGINATION
*/
.pagination {
  margin: 0 0 8px 0;
}

.pagination-sm > li > a {
  width: 32px;

  padding: 4px;

  text-align: center;

  cursor: hand;
  cursor: pointer;
}

/*
** KOROBAR / NAVIGATION BAR
*/

.navbar {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}

.nav-tabs.nav-justified > li.active > a {
  border-bottom-color: #357ebd;
}

.nav-tabs > li > a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.navbar-default {
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;

  box-shadow: 0px 4px 16px #111;
}

.navbar-default .glyphicon {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color:#3276b1;
  color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color:#3276b1;
  color: #fff;
}

.navbar-default .nav-home {
  border-right: 2px solid #3276b1;
  border-left: 2px solid transparent;
}

#social {
/*  margin: 12px 8px 0 0; */
}

#social img {
  position: relative;
  top: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#social img:hover {
  top: -4px;
}


#register {
  margin: 10px 0 0 0;
}

#register > a,
#register > button {
  width: 64px;
}

#korobar {
  position: absolute;
  width: 100%;
}

.page-container {
  min-height: 100%;
  padding-bottom: 32px;
  margin-bottom: 112px;

  background-color: #fff;
  box-shadow: 0px 4px 16px #111;
}

.page-content {
  padding-top: 112px;
}

.hr {
  display: block;
  content: "&nbsp;";
  height: 16px;
}

.icons-ul {
  padding-left: 0;
}

footer {
  width: 100%;
  height: 112px;

  padding: 16px 0;

  background: #333;
  position: fixed;
  z-index: -1000;
  bottom: 0;

  color: #fff;
}

footer p {
  font-size: 12px;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #428bca;
  text-shadow: 1px 1px 2px rgba(55, 55, 55, .6);
}

/*
** DIV-TABLES
*/
.alert-footnote {
  background-color: #ffb147;
  color: #a66a17;
}

.alert-footnote a {
  font-style; italic;
}

/*
** DIV-TABLES
*/
.row-table {

}

.row-table > .row-header,
.row-table > .row-entry {
  padding-top: 4px;
  padding-bottom: 4px;
}

.row-table > .row-header {
  background-color: #428bca;
  color: #fff;
}

.row-table > .row-entry:nth-child(odd) {
  background-color: #eee;
}

.row-table > .row-entry blockquote {
  padding: 10px 8px;
  border-left: 2px solid #428bca;

  background-color: #f0f0f0;
}

/*
** FORUMS
*/
.post-content pre {
  border: 0;
  background-color: inherit;

  font-family:'Open Sans';
  font-size: 14px;

  word-wrap: normal;
  word-break: normal;
}

.row-table > .row-entry cite {
  display: block;
}

.post-content pre code {
  display: block;
  overflow-x: auto;

  background-color: #e0e0e0;

  border-radius: 2px;
  padding: 2px;
  margin: 2px 0;
}

.post-header {
  background-color: #ddd;

  border-top: 1px solid #ccc;
}

.post-content {
  background-color: #f7f7f7 !important;
  padding-bottom: 16px;
}

.forum-child {
  padding-left: 8px;

  border-left: 1px solid #428bca;
}

/* sm */
@media all and (min-width: 768px) {
  .kp-logo {
    height: 64px;
    padding-left: 64px;
    background-size: 64px 64px;
    line-height: 64px;
    font-size: 56px;
  }

  .col-img-leader {
    padding-left: 96px;
    min-height: 96px;
    background-size: 64px 64px;
    background-position: 16px center;
  }

  .hr {
    height: 32px;
  }

  .forum-child {
    padding-left: 16px;
  }

  .page-container {
    margin-bottom: 56px;
  }

  .page-content {
    padding-top: 56px;
  }

  footer {
    height: 56px;
  }
}
/* md */
@media all and (min-width: 992px) {
  .col-img-leader {
    padding-left: 128px;
    min-height: 128px;
    background-size: 96px 96px;
    background-position: 16px center;
  }

  .hr, .hr-md {
    height: 24px;
  }

  .forum-child {
    padding-left: 24px;
    border-left: 2px solid #428bca;
  }
}
/* lg */
@media all and (min-width: 1200px) {
  .hr, .hr-lg {
    height: 32px;
  }

  .forum-child {
    padding-left: 32px;
  }
}





.page-transition {
  position:relative;
}
.page-transition.ng-enter, .page-transition.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  position:absolute;
  top:0;
  left:0;
  right:0;
  height:600px;
}

.page-transition.ng-enter {
  z-index:101;
  top:600px;
  opacity:0;
}
.page-transition.ng-enter.ng-enter-active {
  top:0;
  opacity:1;
}

.page-transition.ng-leave {
  z-index:100;
  top:0;
  opacity:1;
}
.page-transition.ng-leave.ng-leave-active {
  top:-600px;
  opacity:0;
}




.ng-hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: block!important;
}

