<div id="page-discover" class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Discover</h1>
    </div>
  </div>
  <div class="hr"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="tabbable">
        <ul id="aboutdetails" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
          <li><a href="#gnome" data-toggle="tab">Gnome</a></li>
          <li><a href="#kde" data-toggle="tab">KDE</a></li>
          <li><a href="#mate" data-toggle="tab">MATE</a></li>
          <li><a href="#cinnamon" data-toggle="tab">Cinnamon</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="overview">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <p>Korora currently comes with the choice of two desktops, both available in 64-bit (x86_64) and 32-bit (i686):</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
                  <h3>GNOME</h3>
                  <div class="text-center">
                    <a href="/discover/gnome-desktop/">
                      <img class="img-responsive" alt="Korora GNOME desktop" src="https://kororaproject.org/images/web/screenshots/korora-desktop-gnome-extra-small.jpg">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                  <h3>KDE</h3>
                  <div class="text-center">
                    <a href="/discover/kde-desktop/">
                      <img class="img-responsive" alt="Korora KDE desktop" src="https://kororaproject.org/images/web/screenshots/korora-desktop-kde-extra-small.jpg">
                    </a>
                  </div>
                </div>
              </div>
              <div class="hr"></div>
              <div class="row">
                <div class="col-sm-12">
                  <p>Both versions are similarly focused, being aimed at making Linux easier to use and pre-configuring the system for end users. As such, they both include:</p>
                  <ul class="icons-ul">
                    <li><i class="icon-li icon-check"></i>Tweaked desktops (enabled GNOME extensions and desktop, cleaned KDE menus, desktop cache files under ramfs, alerts when commands complete and much more..)</li>
                    <li><i class="icon-li icon-check"></i>Third party repositories such as Adobe, Chrome, RPMFusion<a href="#footnote"><sup>1</sup></a> and VirtualBox</li>
                    <li><i class="icon-li icon-check"></i>Firefox as the default web browser (with integration theme for KDE)</li>
                    <li><i class="icon-li icon-check"></i>Firefox extensions included (Adblock Plus, DownThemAll, Flashblock, Xclear)</li>
                    <li><i class="icon-li icon-check"></i>Microblogging client (Choqok for KDE, Gwibber for GNOME)</li>
                    <li><i class="icon-li icon-check"></i>Full multimedia support, including Adobe Flash plugin</li>
                    <li><i class="icon-li icon-check"></i>Jockey device manager to handle drivers such as NVIDIA and wireless</li>
                    <li><i class="icon-li icon-check"></i>Video editor (Kdenlive for KDE, OpenShot for GNOME)</li>
                    <li><i class="icon-li icon-check"></i>VLC as the default media player</li>
                    <li><i class="icon-li icon-check"></i>SELinux enabled (particularly worthwhile for Flash)</li>
                    <li><i class="icon-li icon-check"></i>and more..</li>
                  </ul>
                  <p>The Korora system includes applications for many common desktop computing tasks. As such is much larger than a regular live CD and should be booted using DVD disks or USB drives for installation.</p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="alert alert-warning">
                    <p><a name="footnote" href=""></a><sup>1</sup> RPM Fusion provides software that the Fedora Project doesn’t want to ship, such as support for MP3s and proprietary video drivers.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="gnome">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center">
                    <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-desktop-nautilus.jpg" alt="GNOME Desktop">
                  </div>
                </div>
              </div>
              <div class="hr"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="center">Simply Beautiful</h2>
                  <p>GNOME’s new desktop takes elegance to a new level. We’ve swept away the clutter and made a simple and easy-to-use desktop that’s the most beautiful version ever that includes a new visual theme, a refined new font and carefully crafted animations.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-thumb-menu.jpg" alt="GNOME Desktop">
                </div>
                <div class="col-sm-3">
                  <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-thumb-notification-bar.jpg" alt="GNOME Desktop">
                </div>
                <div class="col-sm-3">
                  <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-thumb-notification.jpg" alt="GNOME Desktop">
                </div>
                <div class="col-sm-3">
                  <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-thumb-dock.jpg" alt="GNOME Desktop">
                </div>
              </div>
              <div class="hr"></div>
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-fingertips.jpg" alt="GNOME Overview">
                </div>
                <div class="col-sm-6">
                  <h2>Overview at a glance</h2>
                  <p>The Activities Overview is the portal to all your computing activities. Quickly accessible using the top-left hot corner or windows key, it provides a single place to access windows, applications and even messages. The dash allows you to see which applications are currently running and the workspace switcher can be
                  used to group windows.</p>
                </div>
              </div>
              <div class="hr"></div>
              <div class="row">
                <div class="col-sm-6">
                  <h2>Everything at your fingertips</h2>
                  <p>Search is central to the GNOME desktop. Applications, windows, documents and even settings can all be quickly and easily searched for from one place. Accessing GNOME’s desktop search is as simple as pressing the super key and starting to type. This is a great feature for people who like things to happen <em>fast</em>.</p>
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive img-showcase" src="https://kororaproject.org/wp-content/uploads/2013/02/gnome-applications.jpg" alt="Gnome Overview">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="kde">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1>KDE</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="mate">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1>MATE</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="cinnamon">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1>CINNAMON</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
