<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <p>Korora is a Fedora Remix that aims to make Linux easier for new users, while still being useful for experts. We provide a complete, easy to use computing system that “just works” out of the box.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
      <p>Want to try Korora for yourself?</p>
      <p><a href="/download" class="btn btn-large btn-success btn-block"><i class="icon-download-alt icon-white"></i> Download</a></p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <p>Minimum installation requirements:</p>
      <ul class="icons-ul">
        <li><i class="icon-li icon-check"></i>32-bit Intel-compatible PC</li>
        <li><i class="icon-li icon-check"></i>1GB memory (RAM)</li>
        <li><i class="icon-li icon-check"></i>10GB disk space / storage</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-2 col-lg-1">
      <img src="../img/ico-innovation.png" class="img-responsive"></img>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-7">
      <h1>Innovation</h1>
      <p>Built on a strong foundation, Korora is a Fedora Remix that aims to make Linux easier for new users, while still being useful for experts. We provide a complete, easy to use computing system that “just works” out of the box.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-2 col-lg-1">
      <img src="../img/ico-community.png" class="img-responsive"></img>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-7">
      <h1>Community</h1>
      <p>Korora is a Fedora Remix that aims to make Linux easier for new users, while still being useful for experts. We provide a complete, easy to use computing system that “just works” out of the box.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-offset-2 col-md-2 col-lg-offset-2 col-lg-1">
      <img src="../img/ico-security.png" class="img-responsive"></img>
    </div>
    <div class="col-sm-8 col-md-7 col-lg-7">
      <h1>Security</h1>
      <p>Korora is a Fedora Remix that aims to make Linux easier for new users, while still being useful for experts. We provide a complete, easy to use computing system that “just works” out of the box.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2 col-md-offset-2 col-md-1 col-lg-offset-2 col-lg-1">
      <img src="../img/ico-choice.png" class="img-responsive"></img>
    </div>
    <div class="col-sm-8 col-md-7 col-lg-7">
      <h1>Choice</h1>
      <p>Korora is a Fedora Remix that aims to make Linux easier for new users, while still being useful for experts. We provide a complete, easy to use computing system that “just works” out of the box.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-8 col-md-6 col-lg-offset-2 col-lg-8">
      <h1>Free</h1>
      <p>Korora is 100% free. Copy and distribute as you see fit. In fact, we encourage it.</p>
    </div>
  </div>
</div>
